.infoAll{
	width:100%;
	padding:10px 100px;
}

.left{
	/*padding:20px;
	width:100%;
	float:left;*/
	
}

.right{
	/*padding:20px;
	width:100%;*/
	float:left;
}

.right p{
	width:100%;
	float:left;
}

.info{
	/*float:left;
	width:100%;
	padding:130px;*/
	padding:0px;
}

.info p{
	/*font-size:25px;*/
	color: #5B5757;
    font-size: 18px;
}

.info h1{
	font-size:35px;
}

li{
	font-size:20px;
}

.coverInfo{
	display:none;
	/*height:250px;
	/background-image:url("./uidata/10.jpg");
	
	background-repeat:no-repeat;
	background-size:600% 250px;
	background-size:100%;*/
}

.cbg {
    background:#00BAB2;
    
	position: absolute;
	 width: 100%;
     opacity:.5;
	 height: 250px;
	
	 /*bottom:0;*/
}

#cbg2 {
    background:black;
    
	position: absolute;
	 width: 100%;
     opacity:.5;
	 height: 250px;
	
	 /*bottom:0;*/
}

.coverR h1{
	font-size:20px;
	font-weight:bold;
	color:white;
}

.coverR{
    width: 350px;
	padding:0 40px;
	position: absolute;
	top: 30%;
  left: 0;
	/*-ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);*/
}

.coverC Button{
	cursor:pointer;
	color:white;
	font-size:30px;
	background:transparent;
	border-radius:10px;
	border-style:none;
	padding:15px 25px;
	box-shadow: 0px 0px 10px 0px white;
	transition: transform .2s;
}

.coverC Button:hover{
	transform: scale(1.5);
}

.coverC h1{
	font-size:15px;
color:white;
}

.coverC{

	position: absolute;
	top: 20%;
  left: 43%;
	/*-ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);*/
}

.coverL{

	position: absolute;
	top: 10%;
  right: 0;
}

.coverL h1{
	color:white;
	font-size:30px;
}

.coverL2{

	position: absolute;
	padding: 0 50px;
	top: 10%;
  right: 0;
}

.coverL2 h1{
	color:white;
	font-size:30px;
}

.header{
	float:left;
	width:100%;
}

.tag{
	padding:0px;
	width: 100%;
	float:left;
	vertical-align:center;
	margin-top:40px;
}

.tag div{
	width: 100%;
}

.tag h1{
	color: #5B5757;
	font-size: 50px;
	font-weight: bold;
}

.tag p{
	max-width:500px;
	font-size:25px;
}

.laug{
	float:left;
	display:inline-block;
	margin-right:20px;
	margin-top:10px;
	margin-bottom:10px;
}

h2{
	margin-top:10px;
}

img{
	object-fit:cover;
}

#appscreenshots{
	/*padding:100px;*/
	margin-top: 20px;
    margin-bottom:20px;	
}

#appscreenshots h1{
	font-size: 25px;
	padding: 15px;	
}

#appscreenshots img{
	border-radius: 15px;
	margin-top: 20px;
}

button{
	cursor:pointer;
	background:white;
	border-radius:10px;
	border-style:none;
	padding:15px;
	margin:10px;
	box-shadow: 0px 0px 2px 0px #A08C37;
	transition: transform .2s;
}

button:hover{
	transform: scale(1.5);
}

.smallheader{
	display:inline-block;
	float:left;
	width: 100%;
}

.smallheader button{
	cursor:pointer;
	background:white;
	border-radius:10px;
	border-style:none;
	/*width:100%;*/
	padding:15px 100px;
	margin:10px;
	box-shadow: 0px 0px 2px 0px #A08C37;
	transition: transform .2s;
}

.smallheader h1{
	padding:5px;
}



@media only screen and (min-width: 950px){
	
	.left{
	width:70%;
	float:left;
}

.right{
	width:30%;
}

.smallheader{
	display:none;
}

.coverInfo{
	display:inline-block;
	position: relative;
	width:100%;
}

.info{
	padding:50px;
}

.tag{
	margin-top:40px;
}
	
}